.typeMatchup {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
	.teamMatchups {
		display: flex;
		flex-direction: column;
		align-items: center;
		background: #fff;

		img {
			width: 48px;
			height: 48px;
		}
		.matchup {
			display: inline;
			margin: 0;
		}
	}
}
.headerContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	.sectionHeader {
		display: inline;
	}
	.carat {
		user-select: none;
		transition: transform 0.1s ease-in-out;
	}
}
.collapseCarat {
	transform: rotate(180deg);
}
.matchupIcon {
	display: inline;
}
.collapsed {
	display: none;
}
