@import '../../components/PokemonTypeColors/PokemonTypeColors.scss';
@import '../../components/breakpoints/breakpoints.scss';
.memberContainer {
	display: grid;
	grid-template-columns: 96px 96px 96px;
	grid-template-rows: 96px 96px;
	gap: 1rem;
}
.member {
	border-radius: 10px;
}

.teamPanel {
	width: 280px;
	height: 420px;
	background: #fff;
	overflow-y: scroll;

	h3 {
		user-select: none;
		cursor: pointer;
		margin-left: 1rem;
	}
	div {
		h4 {
			user-select: none;
			cursor: pointer;
			margin: 0;
			padding: 0.25rem 1rem;
		}
	}
}

.memberPanel {
	width: 280px;
	height: 420px;
	background: #000;
}
.typeMatchup {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.matchup {
	display: inline;
}
.matchupIcon {
	display: inline;
}
.collapsed {
	display: none;
}
@include bg-gradient;
@include type-colors('background');
